
 
body{
    height: 100%;
    background-color: #99d066;
}
h1{
    color: black;
    background: rgba(255, 255, 255, 0.75);
    font-size: 150px;
    font-family: 'Quattrocento', serif;
    text-align: center;
   
}
.list{
height: 100%;
width: 700px;
float: center;

}
header{
    background-image: url("../images/background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top:0px;
    left:0px;
    border-radius: 10px;
    font-weight: bold;
    padding:20px;
}

.section{
    background: white;
    margin: 15px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    opacity: .7;
}
.question{
    font-weight: bolder;
    margin-bottom: 10px;
}

.intro{
    text-align: center;
    font-size: 70px;
    margin: 40px;
    animation-name: enlarge;
    animation-duration: 10s;
    color: whitesmoke;
    background-color: pink;
    border: 5px ridge pink;
}
.introbox{
    margin-top: 100px;
    background-color: orangered; 
    height: 300px;
    width: 100%;
    margin-bottom: -250px;
    border: 5px outset orangered;
}
input:checked{
    color:pink;
}

.time{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size:40px;
}

/* keyframes */

/* @keyframes enlarge {
from{font-size: 1px;
    opacity: 1.0;}
to{font-size: 70px;}
} */
